<h1>Welcome to THE VOLCANO</h1>
<br>
<p>You sense the Orb is near, the ancient guide you mysteriously found in your pocket is telling you to go South.. but it looks as if it has been torn to pieces and taped back together. Do you trust the guide?</p>
<br>
<p>What would you like to do?</p>
<br>
<ul>
<li><a href='/room5'>Go North</a></li>
<li><a href='/room2'>Go South</a></li>
<li><a href='/room6'>Go East</a></li>
<li><a href='/room4'>Go West</a></li>
<ul>