<h1>Welcome to the JOKERS HUT</h1>
<br>
<p>This is it, the orb is before you. But it is guarded by the joker from batman. "If you wish to gaze upon the Orb, then you must answer my riddle!" exclaims the joker from batman.</p>
<br>
<p>The Joker says, "Before you get the Orb, you must first answer a riddle." </p>
<br>
<p>The Joker begins to speak once more,
"From soil, I am made.
With me, kids will play.
I do not speak of sand,
for that is not my plan.
Add some water,
and the mothers will complain."</p>
<br>
<p>What is your answer?</p>
<br>
<ul>
<li><a href='/room9'>Soap</a></li>
<li><a href='/roomfinish'>Mud</a></li>
<li><a href='/room4'>Clay</a></li>
<li><a href='/room6'>Yogurt</a></li>
</ul>
<h3>
   ----
/       \
|         |
|         |
\       /
  -----
  </h3>