<h2>Welcome to room ONE</h2>
<br>
<p>Here you are, all alone on your first adventure through the Maze of Orb. Its up to you about how you want to move about and choose your room. But be careful, watch for traps. Go get that Orb for your family to ponder for years to come.</p>
<br>
<p>What would you like to do?</p>

<a href="/room4">Go north</a>

<hr>
<h3>&squ;&squ;&squ;</h3>
<h3>&squ;&squ;&squ;</h3>
<h3>&#9632;&squ;&squ;</h3>