<h1>Welcome to THE SNAKE PIT</h1>
<br>
<p>The smell of bacon starts polluting the air. You hear the voice of Ron Swanson telling you "Nature is amazing". Follow the smell to the Orb.</p>
<br>
<p>What would you like to do?</p>
<br>
<ul>
<li><a href='/room9'>Go North</a></li>
<li><a href='/room3'>Go South</a></li>
<li><a href='/room6'>Go East</a></li>
<li><a href='/room5'>Go West</a></li>
</ul>