<h1>YOU DUN MESSED UP KID</h1>

<p>You fell into a hole of gross rotten squids. You better go get cleaned up and return again.</p>

<a href='/room'>Go back.</a>

<hr>
<h3>&squ;&squ;&squ;</h3>
<h3>&squ;&squ;&squ;</h3>
<h3>&squ;&#9632;&squ;</h3>