<h1>Welcome to THE PIT</h1>

<p>You begin to feel the hunger for a ponder, you take a deep breath but the air is full of tiny Orbs and it shortens your breath. You take a step back and think about your decision carefully... to move up down left or right... the choice is yours.</p>
<br>
<p>What would you like to do?</p>
<br>
<ul>
<li><a href=''>Go North</a></li>
<li><a href='/room1'>Go South</a></li>
<li><a href='/room5'>Go East</a></li>
<li><a href=''>Go West</a></li>
</ul>