<h1> Welcome the the Maze of Orb.</h1>
<br>
<p>The objective of this maze is to make it through the rooms to get to the Orb.</p>
<form action="/room1" method="post">
<div class="form-group">
<label for="player_name">Enter your name, young Hulk.</label>
<input id="player_name" name="player_name" class="form-control" type="text">
</div>
<button type="submit" class="btn">Start Maze</button>
</form>