<h1>YOU HIT A DEAD END SUCKA</h1>
<br>
<p>but you found the key</p>

<form action="/room3/key" method="post">
<button type="submit" name="key" class="btn">Get Key</button>
</form>

<a href='/room6'>Go back</a>

<hr>
<h3>&squ;&squ;&squ;</h3>
<h3>&squ;&squ;&squ;</h3>
<h3>&squ;&squ;&#9632;</h3>
