<h1>Welcome to THE TANNING BED</h1>
<br>
<p>The sounds of jazz grow louder</p>
<br>

<ul>
<li><a href='/room8'>Go North</a></li>
<li><a href='/room8'>Go South</a></li>
<li><a href='/room9'>Go East</a></li>
<li><a href='/room7'>Go West</a></li>
</ul>

<hr>
<h3>&squ;&#9632;&squ;</h3>
<h3>&squ;&squ;&squ;</h3>
<h3>&squ;&squ;&squ;</h3>