<h1>Welcome to THE HUB</h1>
<br>
<p>The room is filled with a <strong>loud</strong> buzzing. You are lucky that you are <em>not</em> allergic to bees. A wise bee advises that those who like jazz will achieve their dreams.</p>
<br>
<ul>
<li><a href='/room9'>Go North</a></li>
<li><a href='/room6'>Go South</a></li>
<li><a href='/room9'>Go East</a></li>
<% if @key == true %>
  <li><a href='/room8'>Go West</a></li>
<% else %>
  <li><a href='/room9'>Go West</a></li>
<% end %>
<li> <%= @key %> </li>
</ul>

<hr>
<h3>&squ;&squ;&#9632;</h3>
<h3>&squ;&squ;&squ;</h3>
<h3>&squ;&squ;&squ;</h3>